# Various IDEs and Editors
.vscode/
.idea/
**/*~
*.swp

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/

# Rust
*.lock
target/

# env variables
.env